<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <main><br><br><br>
                <h1>Error 404</h1>
                <p>Page Not Found!</p>
            </main>

            <%- include('includes/footer.ejs') %>