<%- include('includes/header.ejs') %>

    </head>

    <body class="hompage">
        <%- include('includes/navigation.ejs') %>
            <main><br><br><br>
                <br>
                <div class="centered">
                    <img class="centered" src="/images/UnderConstruction.png" alt="closed" style="width: 50%" style="height: 50%">
                </div>
            </main>

            <%- include('includes/footer.ejs') %>