<%- include('includes/header.ejs') %>

    </head>

    <body class="hompage">
        <%- include('includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <img class="centered" src="/images/logo.png" alt="My_Logo">
                    <h4>Our Catastrophe Revover Team is Simply The Best!</h4>
                    <h4>Commercial and Residential Storm, Fire and Flood Restoration Experts.</h4>
                </div>
            </main>

            <%- include('includes/footer.ejs') %>