<%- include('includes/header.ejs') %>

    </head>

    <body class="hompage">
        <%- include('includes/navigation.ejs') %>
            <main><br><br><br>
                <div class="centered">
                    <img class="centered" src="/images/logo.png" alt="My_Logo">
                    <h4>Our Catastrophe Recovery Team is Simply The Best!</h4>
                    <h4>Commercial and Residential Storm, Fire and Flood Restoration Experts.</h4>
                    <br>
                    <img class="centered" src="/images/workers.jpg" alt="My_Logo" style="width: 25%" style="height: 25%">

                </div>
            </main>

            <%- include('includes/footer.ejs') %>