<%- include('includes/headerform.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/project.css">
    </head>

    <body style="background-color: lightcyan;">
        <main>
            <div class="centered">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <img style="border: 2px solid darkblue;" src="/images/logo.png" alt="logo">
                <br>
                <br>
                <br>
                <h1> Operation Portal</h1>
                <br>
                <br>
                <br>
                <a href="/login" class="btn-lg btn-primary">Please Log In</a>
            </div>
        </main>