<%- include('includes/header.ejs') %>

    </head>

    <body class="hompage">
        <%- include('includes/navigation.ejs') %>
            <main><br><br><br>
                <br>
                <div class="centered">
                    <h1> You are not Authorized to use this page!</h1>
                    <br>
                    <h4>Please return to the Home page.</h4>
                </div>
            </main>

            <%- include('includes/footer.ejs') %>