.project-form {
    width: 40rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.project-item {
    width: 20rem;
    max-width: 95%;
}

.project {
    font-size: 1.2rem;
    text-align: center;
}

.project {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.project {
    text-align: center;
}