.docs {
    width: 90%;
    font-size: small;
}

.section-title {
    text-align: center;
}

article {
    display: inline-block;
    width: 30%;
    padding-top: 2px;
    padding-bottom: 8px;
    border: 2px solid darkgreen;
}

.btn-xsm {
    background-color: blue;
    color: white;
    padding: 2px;
}

.changeStatus {
    display: inline-block;
    width: 62%;
    padding-top: 2px;
    padding-bottom: 8px;
    border: 2px solid darkgreen;
}

.list-group-item {
    background-color: rgb(242, 255, 224);
    border: 2px solid darkgreen;
    color: darkgreen;
}

.list-group-item:hover {
    border: 2px solid red;
    color: red;
}

.form-check {
    margin-top: 10px;
}

.financialinfo {
    width: 1000px;
}