<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="register">
                    <h1 class="section-title">Documents List</h1>
                    <br>
                </div>
                

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </main>

            <%- include('../includes/footer.ejs') %>