<article class="notes">

    <div class="row">
        <div class="col-sm">
            Project #: <strong>Project Number</strong>
        </div>
        <div class="col-sm">
            Document Name: <strong>Contingency Agreement</strong>
        </div>
        <div class="col-sm">
            <% if (doc.docName="Contingency Agreement") { %>
                File Name: <strong>Filename</strong>
                <% } else { %>
                    <strong>No Contingency Agreement Attached</strong>
                    <% } %>
        </div>
        <div class="col-sm">
            <a href="/docAdd/<%= project.id %>" class="btn-sm">Add Document</a>
        </div>
        <div class="col-sm">
            <a href="/docEdit/<%= project.id %>" class="btn-sm">Edit Document</a>
        </div>
    </div>
</article>