<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/projects.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="centered">
                    <h1><strong>Project Work by Trade</strong></h1>
                    <h4>
                        <div class="row">
                            <div class="col-xsm">
                                Trade: <strong>Roof</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Gutters</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Siding</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Windows</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Trash</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                RCV <strong>$12,345.46</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$4,326.98</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$11,236.45</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$10,386.54</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$536.00</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                O & P <strong>$1,234.34</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$437.56</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$1,134.34</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$1,234.43</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$55.00</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                Net <strong>$1,234.34</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$437.56</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$1,134.34</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$1,234.43</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$55.00</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                Trade: <strong>Painting</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Doors</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Fence</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Outbuildings</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Deck</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                RCV <strong>$12,345.46</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$4,326.98</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$11,236.45</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$10,386.54</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$536.00</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                O & P <strong>$1,234.34</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$437.56</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$1,134.34</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$1,234.43</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$55.00</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                Net <strong>$1,234.34</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$437.56</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$1,134.34</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$1,234.43</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$55.00</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                Trade: <strong>Interior</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Electrical</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Plumbing</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>HVAC</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Solar Panels</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                RCV <strong>$12,345.46</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$4,326.98</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$11,236.45</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$10,386.54</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$536.00</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                O & P <strong>$1,234.34</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$437.56</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$1,134.34</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$1,234.43</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$55.00</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                Net <strong>$1,234.34</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$437.56</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$1,134.34</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$1,234.43</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$55.00</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                Trade: <strong>Awnings/Canopies</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Signage</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Supervision</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Rental Equipment</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Other</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                RCV <strong>$12,345.46</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$4,326.98</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$11,236.45</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$10,386.54</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$536.00</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                O & P <strong>$1,234.34</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$437.56</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$1,134.34</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$1,234.43</strong>
                            </div>
                            <div class="col-xsm">
                                O & P <strong>$55.00</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                Net <strong>$1,234.34</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$437.56</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$1,134.34</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$1,234.43</strong>
                            </div>
                            <div class="col-xsm">
                                Net <strong>$55.00</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                            <div class="col-xsm">
                                Line #: <strong>1 - 12</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                Trade: <strong>Personal Property</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Overhead & Profit</strong>
                            </div>
                            <div class="col-xsm">
                                Trade: <strong>Sales Tax</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xsm">
                                RCV <strong>$12,345.46</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$4,326.98</strong>
                            </div>
                            <div class="col-xsm">
                                RCV <strong>$11,236.45</strong>
                            </div>
                        </div>
                        <br>
                </div>
                <br>
            </main>

            <%- include('../includes/footer.ejs') %>
                <script src="/js/status.js"></script>